[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
waitress = "*"
plotly = "*"
dash = "*"
gunicorn = "*"
dash_bootstrap_components = "*"
xmltodict = "*"
psycopg2-binary = "*"
apscheduler = "*"
scipy = "*"
py-ecg-detectors = "*"
sqlalchemy = "*"
checksumdir = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "*"
