.tabs {
  border-top: 1px solid lightgrey;
  display: none;
  flex-direction: column;
  padding: 1rem 5%;
  margin-bottom: 1rem;
  margin: 5px;
}
.tabs > a {
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
  text-align: center;
}
.tabs {
    display: flex;
    flex-direction: row;
}

.tabs > a {
    width: 24%;
}

.tabs > a {
    border-left: 1px solid lightgrey;
}

.dash-table-container .row {
  display: block;
  margin: 5px;
}
.DateInput_input, .DateInput_input_1 {
  Height: 40px;
}

h4 { display: inline; }
a{
    float:right;
    margin: 5px;
}
img { display: inline; }
h1 { display: inline; }
h2{
    float:right;
    margin: 5px;
}