.tab {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  color: black;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.dash-table-container .row {
  display: block;
  margin: 0;
}